apache-airflow-providers-amazon>=7.14.0
apache-airflow-providers-trino>=4.3.2
apache-airflow-providers-cncf-kubernetes>=5.2.2
apache-airflow-providers-postgres>=5.4.0
apache-airflow-providers-apache-spark>=4.0.0
apache-airflow-providers-mongo>=3.6.0
stream-unzip>=0.0.83